<div class="">
    <% if flash[:notice] %>
        <div class="alert alert-warning" role="alert">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <% if flash[:success] %>
        <div class="alert alert-success" role="alert">
            <%= flash[:success] %>
        </div>
    <% end %>
    <div>
        <h1 class="text-center" >Listas do Projeto <%= @project.name %></h1>
    </div>

    <div class="col-md-6 offset-md-3 col-xs-12">
        <%= form_for :list, url: (@list.new_record? ? create_list_url : update_list_url ), method: (@list.new_record? ? :post : :put)  do |f| %>

            <div class="form-group">
                <%= f.label :Nome %>
                <%= f.text_field :name, class:"form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :Descrição %>
                <%= f.text_field :desc, class:"form-control" %>
            </div>

            <% if @list.id %>
                <%=f.submit "Atualizar Lista", class:"col-md-6 offset-md-3 col-xs-12 btn btn-success" %>
                <%=link_to 'Cancelar Atualização', listas_projeto_url(:project_id => @project.id), method: 'get', class:"col-md-6 offset-md-3 col-xs-12 btn btn-danger" %>
            <% else %>
                <%=f.submit "Criar Lista", class:"col-md-6 offset-md-3 col-xs-12 btn btn-primary" %>
                <%=link_to 'Voltar ao Board', project_task_url(:project_id => @project.id), method: 'get', class:"col-md-6 offset-md-3 col-xs-12 btn btn-danger" %>
            <% end %>

        <% end %>
    </div>

</div>

<table class="table table-bordered table-hover table-margin">
    <thead>
        <tr>
            <td>Nome</td>
            <td>Descrição</td>
            <td>Número de atividades</td>
        </tr>
    </thead>
    <tbody>
        <% @lists.each do |list| %>
            <tr>
                <td><%= list.name %></td>
                <td><%= list.desc %></td>
                <td><%= list.tasks.length %></td>
                <td>
                    <%= link_to '', list_url(list), method: 'delete', class: "btn btn-danger fa fa-times" %>
                </td>
                <td>
                    <%= link_to '', edit_list_url(:list_id => list.id, :project_id => list.project_id), method: 'get', class: "btn btn-info fa fa-edit" %>
                </td>
            </tr>
        <%end %>
    </tbody>
</table>
