<body >
  <div>
    <img src="/assets/colabs3.jpeg" class="img-responsive mx-auto d-block">
  </div>
  <% if flash[:success] %>
  <div class="container">
    <div class="row" style="z-index: 999; padding: 5px;">
         <div class="span12">
           <div class="alert alert-success alert-dismissible">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
             <strong>Success!</strong> <%= flash[:success] %>
           </div>
         </div>
    </div>
  </div>
  <% end %>
  <% if flash[:notice] %>
  <div class="container">
    <div class="row" style="z-index: 999; padding: 5px;">
         <div class="span12">
           <div class="alert alert-warning alert-dismissible">
             <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
             <strong>Warning!</strong> <%= flash[:notice] %>
           </div>
         </div>
    </div>
  </div>
  <% end %>
  <div class="ui">
	<nav class="navbar app" style="height: 26px;display: flex;justify-content: space-between;margin-bottom: 20px;padding-bottom: 45px;">
      <span>Task Board by Lists</span>
      <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
      <div id="modal-edit" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content"></div>
        </div>
      </div>
      <span>Create lists here <%= link_to '', listas_projeto_url(@project.id), class: "btn btn-info fa fa-list fa-1" %></span>
  </nav>
	<nav class="navbar board" id="projectname" style="margin-top: 10px; height: 27px;"><%= @project.name %></nav>
	<div class="lists">
    <% @lists.each do |list| %>
		<div class="list">
			<header id="hd1"><%= list.name %></header>
			<ul>
        <% list.tasks.each do |task| %>
  		    <li>
            <div style="display: flex;justify-content: space-between;">
              <h6><em><%= task.name %></em></h6>
              <h6><%= link_to 'EDIT', edit_task_path(:project_id => @project.id, :list_id => list.id, :id => task.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-edit'} %></h6>
            </div>
            <br>
  			    <%= task.desc %>
  		    </li>
  	    <% end %>
			</ul>
			<footer><%= link_to 'Add a card...', new_task_path(:project_id => @project.id, :list_id => list.id),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'}  %></footer>
		</div>
    <% end %>
	</div>
</div>
</body>
