<body >
<div class="">
    <% if flash[:notice] %>
        <div class="alert alert-warning" role="alert">
            <%= flash[:notice] %>
        </div>
    <% end %>
    <% if flash[:success] %>
        <div class="alert alert-success" role="alert">
            <%= flash[:success] %>
        </div>
    <% end %>
    <div>
        <h1 class="text-center" ><%= texto_descritivo %></h1>
    </div>

    <div class="col-md-6 offset-md-3 col-xs-12">
        <%= form_for @user do |f| %>

            <div class="form-group">
                <%= f.label :Nome %>
                <%= f.text_field :nome, class:"form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :Email %>
                <%= f.email_field :email, class:"form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :Senha %>
                <%= f.password_field :password, class:"form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :"Confirmar senha" %>
                <%= f.password_field :password_confirmation, class:"form-control" %>
            </div>

            <%=f.submit texto_da_acao, class:"col-md-6 offset-md-3 col-xs-12 btn btn-primary" %>

        <% end %>
    </div>
    
</div>
</body>