<div class="text-center" id="meus_projetos">
    <%= link_to 'Novo projeto', new_project_url,  remote:  true, class: "btn btn-success" %>
    <br>
    <br>
    <ul class="list-group ">
    	<% @projects.each do |project| %>
		    <li class="float-left, background-color: transparent !important userbox">
			    <%= project.name %> |
			    <%= project.desc %> |
          <%= link_to '', project_task_path(:project_id => project.id), class: "btn btn-info fa fa-tasks", id: "task_button" %>
			    <%= link_to  '', edit_project_path(project),  class: "btn  btn-info fa fa-edit" %>
			    <%= link_to '', project_url(project), method: 'delete', class: "btn btn-danger fa fa-times" %>
		    </li>
	    <% end %>
    </ul>
</div>
