<nav class="navbar navbar-expand-lg justify-content-between" role="navigation" >
  <a class="navbar-brand" href="/">
  <img src="/assets/colabs1.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">

  </a>

    <%if user_signed_in? %>
<%= form_tag index_url, method: :get, class:"form-inline" do |f|  %>
	 <div class="input-group">
		 <%= text_field_tag :search_term, params[:search_term], class:"form-control" %>
	 </div>
	<div class="input-group-append">
		<%= submit_tag 'Buscar', class:"btn btn-dark" %>
	</div>

<% end %>
  <div>
      <div class="dropdown">
        <button class="btn btn-outline-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.nome %>
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <%= link_to "Minha Conta", editar_usuario_path, class:"dropdown-item" %>
          <%= link_to "Meus Projetos", meus_projetos_path, class:"dropdown-item", id: 'my_project' %>
          <%= link_to "Sair", logout_path, class:"dropdown-item", method: :delete %>
        </div>
      </div>
    <% else %>
      <%# TODO: colocar um botão de login aqui %>
    <% end %>
  </div>
</nav>
